<!doctype html>
<html>
<head>
<% include layout %>
</head>
<body>
	<!--header-->
	<div class="banner">
		<div class="container">
			<div class="col-md-9 top-nav">
				<span class="menu"><img src="images/menu.png" alt=""/></span>
				<ul class="nav1">
					<li><a href="/">HOME</a></li>
					<li><a href="/about" class="active">ABOUT</a></li>
					<li><a href="/portfolio">PORTFOLIO</a></li>
					<li><a href="/samplepage">SAMPLE PAGE</a></li>
					<li><a href="/contact" >CONTACT</a></li>
					<li><a href="/authuser" >REGISTRATION</a></li>
					<li><a href="/chat" >CHAT</a></li>
				</ul>	
				<!-- script-for-menu -->
				 <script>
				   $( "span.menu" ).click(function() {
					 $( "ul.nav1" ).slideToggle( 300, function() {
					 // Animation complete.
					  });
					 });
				</script>
				<!-- /script-for-menu -->
			</div>
			<div class="col-md-3 header-logo">
				<a href="/"><img src="images/identity03.jpg" style="width:80%; height:80%;" alt="logo"/></a>
			</div>	
			<div class="clearfix"> </div>
		</div>	
	</div>
	<!--//header-->
	<!--portfolio-->
	<div class="portfolio">
		<div class="container">
			<div class="services">
				<h3>ПРИВЕТСТВУЕМ ВАС, НОВЫЙ ПОЛЬЗОВАТЕЛЬ! УКАЖИТЕ ДАННЫЕ НИЖЕ, ЧТОБЫ МЫ МОГЛИ С ВАМИ СВЯЗАТЬСЯ</h3>
			</div>
					<form name="newuser" id="contactForm" method="post" action="/createuser" onsubmit="return validateFormOnSubmit(this)" novalidate>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>ФАМИЛИЯ</label>
                                <input type="text" name="surname" class="form-control" placeholder="Surname" id="name" required data-validation-required-message="Please enter your surname.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
						<div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>ИМЯ</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" name="uname"required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ</label>
                                <input type="email" name="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>ТЕЛЕФОННЫЙ НОМЕР</label>
                                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" name="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
						<div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>ПАРОЛЬ</label>
                                <input type="password" class="form-control" id="pwd" placeholder="Password" name="password" required data-validation-required-message="Please enter your password.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
						<div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>ПОДТВЕРДИТЕ ПАРОЛЬ</label>
                                <input type="password" class="form-control" id="cpwd" placeholder="Confirm Password" name="confpass" required data-validation-required-message="Please confirm your password.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Здравствуйте! Меня зовут ...</button>
                            </div>
                        </div>
                    </form>
		</div>
	</div>
	<!--portfolio-->
	<!--swipebox -->	
			<link rel="stylesheet" href="stylesheets/swipebox.css">
				<script src="javascripts/jquery.swipebox.min.js"></script> 
				<script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
				</script>
			<!--//swipebox Ends -->
	<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-right">
				<p>© 2015 All rights reserved | Template by <a href="http://w3layouts.com/" target="_blank"> W3layouts</a></p>
			</div>
		</div>	
	</div>
	<!--footer-->
	<!--smooth-scrolling-of-move-up-->
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
					<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
</body>
</html>	
                    


<script type="text/javascript">
  function validateFormOnSubmit(theForm) {
var reason = "";

  reason += validateUsername(theForm.surname);
  reason += validateUsername(theForm.uname);
  reason += validatePassword(theForm.pwd);
  reason += validateEmail(theForm.email);
  reason += validatePhone(theForm.phone);
      
  if (reason != "") {
    alert("Some fields need correction:\n" + reason);
    return false;
  }
  return true;
}

function validateUsername(fld) {
    var error = "";
    var illegalChars = /\W/; // allow letters, numbers, and underscores
 
    if (fld.value == "") {
        fld.style.background = 'Yellow'; 
        error = "You didn't enter a username.\n";
    } else if ((fld.value.length < 5) || (fld.value.length > 15)) {
        fld.style.background = 'Yellow'; 
        error = "The username is the wrong length.\n";
    } else if (illegalChars.test(fld.value)) {
        fld.style.background = 'Yellow'; 
        error = "The username contains illegal characters.\n";
    } else {
        fld.style.background = 'White';
    } 
    return error;
}

function validatePassword(fld) {
    var error = "";
    var illegalChars = /[\W_]/; // allow only letters and numbers 
 
    if (fld.value == "") {
        fld.style.background = 'Yellow';
        error = "You didn't enter a password.\n";
    } else if ((fld.value.length < 7) || (fld.value.length > 15)) {
        error = "The password is the wrong length. \n";
        fld.style.background = 'Yellow';
    } else if (illegalChars.test(fld.value)) {
        error = "The password contains illegal characters.\n";
        fld.style.background = 'Yellow';
    } else if (!((fld.value.search(/(a-z)+/)) && (fld.value.search(/(0-9)+/)))) {
        error = "The password must contain at least one numeral.\n";
        fld.style.background = 'Yellow';
    } else {
        fld.style.background = 'White';
    }
   return error;
}  

function trim(s)
{
  return s.replace(/^\s+|\s+$/, '');
} 

function validateEmail(fld) {
    var error="";
    var tfld = trim(fld.value);                        // value of field with whitespace trimmed off
    var emailFilter = /^[^@]+@[^@.]+\.[^@]*\w\w$/ ;
    var illegalChars= /[\(\)\<\>\,\;\:\\\"\[\]]/ ;
    
    if (fld.value == "") {
        fld.style.background = 'Yellow';
        error = "You didn't enter an email address.\n";
    } else if (!emailFilter.test(tfld)) {              //test email for illegal characters
        fld.style.background = 'Yellow';
        error = "Please enter a valid email address.\n";
    } else if (fld.value.match(illegalChars)) {
        fld.style.background = 'Yellow';
        error = "The email address contains illegal characters.\n";
    } else {
        fld.style.background = 'White';
    }
    return error;
}

function validatePhone(fld) {
    var error = "";
    var stripped = fld.value.replace(/[\(\)\.\-\ ]/g, '');     
   if (fld.value == "") {
        error = "You didn't enter a phone number.\n";
        fld.style.background = 'Yellow';
    } else if (isNaN(parseInt(stripped))) {
        error = "The phone number contains illegal characters.\n";
        fld.style.background = 'Yellow';
    } else if (stripped.length < 10) {
        error = "The phone number is the wrong length. Make sure you included an area code.\n";
        fld.style.background = 'Yellow';
    } 
    return error;
}

</script>
</html>